<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <form novalidate name="updateUser" ng-submit="vm.updateUser()">
            <div class="reg-block-header">
                <h2>Profil</h2>
            </div>
            <div class="panel">
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" name="FirstName" class="form-control" placeholder="Keresztnév" ng-model="vm.responseData.firstName">
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" name="LastName" class="form-control" placeholder="Vezetéknév" ng-model="vm.responseData.lastName">
                </div>
            </div>
            <div class="panel">
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
                    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="vm.responseData.email">
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="tel" name="Phone" class="form-control" placeholder="Telefonszám" ng-model="vm.responseData.phoneNumber">
                </div>
            </div>
            <div class="panel">
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-inbox"></i></span>
                    <input type="text" name="Street" class="form-control" placeholder="Utca" style="margin-right:60px;" ng-model="vm.responseData.street">
                    <span class="input-group-addon"><i class="fa fa-gavel"></i></span>
                    <input type="text" name="StreetNr" class="form-control" placeholder="h.sz." ng-model="vm.responseData.streetNumber">
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-gavel"></i></span>
                    <input type="text" name="City" class="form-control" placeholder="Város" style="margin-right:60px;" ng-model="vm.responseData.city">
                    <span class="input-group-addon"><i class="fa fa-gavel"></i></span>
                    <input type="text" name="Zip" class="form-control" placeholder="irsz." ng-model="vm.responseData.zip">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn btn-u btn-block">Update</button>
                </div>
            </div>
        </form>
    </div>
    <!--End Reg Block-->
</div>