
<div ng-controller="shoppingCartSubmitController">
    <!--=== Breadcrumbs v4 ===-->
    <div class="breadcrumbs-v4">
        <div class="container">

            <h1>Maecenas <span class="shop-green">enim</span> sapien</h1>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">Home</a></li>

                <li class="active">Shopping Cart</li>
            </ul>
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v4 ===-->
    <!--=== Content Medium Part ===-->
    <div class="content-md margin-bottom-30">
        <div class="container">
            <form class="shopping-cart" action="#">
                <div>
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>Fizetés</h2>
                            <p>Áttekintés &amp; módosítás</p>
                        </div>
                    </div>
                    <section>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Termék</th>
                                        <th>Egységár</th>
                                        <th>Mennyiség</th>
                                        <th>Összesen</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cartItem in cartItems" ng-init='calculateTotal($index)'>
                                        <td class="product-in-table">
                                            <img class="img-responsive" ng-src="../../img/blog/{{cartItem.product.productName}}.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>{{cartItem.product.productName}}</h3>
                                                <span>{{cartItem.product.category}}</span>
                                            </div>
                                        </td>
                                        <td>{{cartItem.product.price}} Ft</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' ng-click="substract($index)" value='-'>-</button>
                                            <input type="text" class="quantity-field" name='qty1' ng-model="cartItem.quantity" readonly />
                                            <button type='button' class="quantity-button" name='add' ng-click="addition($index)" value='+'>+</button>
                                        </td>
                                        <td class="shop-red">{{cartItem.product.price * cartItem.quantity}} Ft</td>
                                        <td>
                                            <button type="button" ng-click="vm.removeItem($index)" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="color-dark font-bold" style="font-size:16px;text-transform:uppercase">
                                    <tr>
                                        <td colspan="2"> </td>
                                        <td align="center">Összesen:</td>
                                        <td align="center">{{total}} Ft</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td><a ng-href="#/" class="btn btn-primary bg-color-dark-blue" style="width:100%;text-transform:uppercase">Vissza</a></td>
                                        <td><a ng-href="#/submit/" class="btn btn-primary bg-color-dark-blue" style="width:100%;text-transform:uppercase">Megerősít</a></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </section>
                </div>
            </form>
        </div><!--/end container-->
    </div>
</div>
