@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "Product Info";
}
@section Scripts {
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-product.js"></script>
    <script src="~/js/productInfoController.js"></script>


    <!-- CSS Page Style -->
    <link rel="stylesheet" href="~/css/pages/page_log_reg_v2.css">
}

<div class="row" data-ng-app="app-productInfo">
    <div ng-view></div>

</div>